.container-header {
  background-image: linear-gradient(to right, #05ede3, #6460fb);
  display: flex;
  height: 224px;
  padding-top: 41px;
  padding-bottom: 32px;
  padding-left: 100px;
}

.logo {
  width: 169px;
  height: 45px;
}
